<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evidence App</title>
    <!-- Bootstrap for overall -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Bootstrap stuff -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
    <!-- Custom CSS file -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://kit.fontawesome.com/f3135b3376.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- <div class="title">
        <h1>Regional Evidence</h1>
    </div> -->
    <div class="filters">
        <div class="title">
            <span><img src="{{ url_for('static', filename='images/wfpLogo.png') }}" style="height:25px;" />
                &nbsp;RBB Evidence
                <br><br><br>
            </span>
        </div>
        <form class="form">
            <div>
                <input type="text" id="searchInput" class="form-control" placeholder="&#xf002;&nbsp;&nbsp;Search">
            </div>
            <br>
            <div class="select">
                <select id="countrySelector" class="form-select" name="country" data-dropdown>
                    <p value="">&#xf3c5;&nbsp;&nbsp;Country</option>
                    <option value="Afghanistan">&#xf3c5;&nbsp;&nbsp;Afghanistan</option>
                    <option value="canada">Canada</option>
                    <option value="china">China</option>
                </select>
            </div>
            <br>
            <div>
                <select id="categorySelector" class="form-select" name="category" data-dropdown>
                    <option value="">&#xf550;&nbsp;&nbsp;Category</option>
                    <option value="Situation Report">Situation Report</option>
                    <option value="Market/Price Monitoring">Market/Price Monitoring</option>
                    <option value="Dashboards/Maps/Infographics">Dashboards/Maps/Infographics</option>
                </select>
            </div>
            <br>
            <br>
            <div style="width:200px;">
                <input type="text" class="js-range-slider" value="" />
            </div>
        </form>
    </div>
    </div>
    <div class="main" id="tester">
        <table class="table mydatatable" id="table">
            <thead>
                <th> </th>
                <th> </th>
            </thead>
            <tbody id="myTable">
            </tbody>
        </table>
    </div>


    <script>
        // Build Table
        function buildTable(data) {
            const table = document.getElementById('myTable')
            table.innerHTML = data.map(function (row) {
                let [Country, Title, Category, Date, Link, Image] = row;
                return `<tr>
                <td><br><br>
                <a href="${Link}" target='_blank'>
                    <img class="tableThumbnail" src=${Image}><br><br></td></a>
                <td>
                    <span class="tableTitle"><br><br><a href="${Link}" target='_blank'>${Title}</a><br></span>
                    <span class="tableCountry"><span>&nbsp;&nbsp;${Country}&nbsp;&nbsp;</span></span>&nbsp;&nbsp;
                    <span class="tableCategory">&nbsp;&nbsp;${Category}&nbsp;&nbsp;</span>
                    <span class="tableDate"><span><br>&nbsp;&nbsp;<i class="far fa-calendar"></i>&nbsp;&nbsp;${Date}</span></span></td>
            </tr>`;
            }).join('');
        }


        // Pull in our data
        const evidenceData = JSON.parse('{{ evidence_dataset|tojson }}');

        // Turn the country selector drop-down into a filter 
        const countrySelector = document.getElementById('countrySelector');
        countrySelector.addEventListener('change', function (evt) {
            const value = evt.target.value;
            if (value) {
                buildTable(evidenceData.filter(function (row) {
                    let [Country, Title, Category, Date, Link, Image] = row;
                    return Country === value
                }));
            } else {
                buildTable(evidenceData);
            }
        });

        // Turn the category selector drop-down into a filter
        const categorySelector = document.getElementById('categorySelector');
        categorySelector.addEventListener('change', function (evt) {
            const value = evt.target.value;
            if (value) {
                buildTable(evidenceData.filter(function (row) {
                    let [Country, Title, Category, Date, Link, Image] = row;
                    return Category === value
                }));
            } else {
                buildTable(evidenceData);
            }
        });



        // Turn the date selector drop-down into a filter
        const dateSelector = document.getElementById('dateSelector');
        categorySelector.addEventListener('change', function (evt) {
            const value = evt.target.value;
            if (value) {
                buildTable(evidenceData.filter(function (row) {
                    let [Country, Title, Category, Date, Link, Image] = row;
                    return Date === value
                }));
            } else {
                buildTable(evidenceData);
            }
        });



        // const maxDate = document.getElementsByClassName("maxDate")

        // var slider = document.getElementById("slider")
        // var output = document.getElementById("value")

        buildTable(evidenceData)

        let searchReplace = document.getElementsByClassName('dataTables_filter')
        console.log(searchReplace)

        // Pull in the Data Tables via jQuery
        $(document).ready(function () {
            oTable = $('.mydatatable').DataTable({
                "pagingType": "simple",
                "ordering": "false",
                "dom": '<<t>ip>'
            });
            // Move the search filter to the side
            $('#searchInput').keyup(function () {
                oTable.search($(this).val()).draw();
            })
        });


    </script>

</body>

</html>