<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evidence App</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>

<body>
    <input id="search-input" class="form-control" placeholder="Search here" type="text">
    <button type="submit" class="btn">Submit</button>

    <div class="container">
        <label for="country">Countries</label>
        <form class="form">
            <div class="form__group">
                <select id="countrySelector" name="country" data-dropdown>
                    <option value="">Please select a country</option>
                    <option value="Afghanistan">Afghanistan</option>
                    <option value="canada">Canada</option>
                    <option value="china">China</option>
                </select>
            </div>
        </form>
    </div>
    <p id="tester"></p>

    <h1>Table</h1>
    <table class="table">
        <tbody id="myTable">
        </tbody>
    </table>
</body>




<script>
    // //buildTable(mydata) attempt #2

    // Build Table Attempt #3
    function buildTable(data) {
        const table = document.getElementById('myTable')
        table.innerHTML = data.map(function (row) {
            let [Country, Title, Category, Date, Link, Image] = row;
            return `<tr>
                <td><img src=${Image}></td>             
                <td><a href="${Link}" target='_blank'>${Title}</a></td>
                <td>${Country}</td>
                <td>${Category}</td>
                <td>${Date}</td>
                </tr>`;
        }).join('');
    }

    // Pull in our data
    //const evidenceData = JSON.parse('{{ test_df|tojson }}');
    const evidenceData = JSON.parse('{{ evidence_dataset|tojson }}'.replace((/\bnan\b/g, "null")));


    // Turn the country selector drop-down into a filter 
    const countrySelector = document.getElementById('countrySelector');
    countrySelector.addEventListener('change', function (evt) {
        const value = evt.target.value;
        if (value) {
            buildTable(evidenceData.filter(function (row) {
                let [Country, Title, Category, Date, Link, Image] = row;
                return Country === value
            }));
        } else {
            buildTable(evidenceData);
        }
    });

    buildTable(evidenceData)
    console.log(evidenceData)

</script>

</html>